{% extends "base.html" %}

{% block title %}
    Cadastrar produto
{% endblock %}

{% block content %}
<h1>Cadastro de produto</h1>

<form action="/produtos" method="POST">
    <label for="nome">Nome</label> <br>
    <input type="text" name="nome" id="nome"> <br>

    <label for="preco">Preco</label> <br>
    <input type="text" name="preco" id="preco"> <br>

    <label for="descricao">Descricao</label> <br>
    <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea> <br>

    <label for="imagem">Imagem</label> <br>
    <input type="url" name="imagem" id="imagem"> <br><br>

    <button type="submit">Cadastrar</button>
    
</form>
{% endblock %}

